body{
    background-image: url('Images/viztukor.png');
    font-family: sans-serif;
}

p{
  text-align: justify;
  text-indent: 35px;
  line-height: 150%;
  letter-spacing: -0.1px;
  
}
h1,h2{
	color: rgb(89, 1, 151);
	font-variant: small-caps;
	text-shadow: 1px 1px white;
}
a{
  font-weight: bold;
  text-decoration: none;
}

li {
  margin-bottom: 25px;
}

#leiras{
	background-image: url('Images/fatyol.png');
	width: 880px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin: auto;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
  padding: 35px;
}

.kepkeret {
  background-image: url('fatyol.png');
  font-style: italic;
  text-align: center;float: right;
  font-size: 75%;
  border: 2px darkblue solid;
  border-radius: 25px;
  padding: 0px 5px 5px;
  margin-left: 10px;
  width: 375px;  
  overflow: hidden;
  box-shadow: 10px 10px 10px gray;  
}

.kepkeret img {
	width: 385px;
  position: relative;
  left: -5px;
}
